// color variables
$teal: hsl(192, 37%, 48%);
$cyan: hsl(192, 90%, 77%);
$dark-purple: hsl(268, 34%, 53%);
$light-purple: hsl(268, 100%, 86%);
$black: hsl(240, 21%, 20%);
$white: hsl(0, 0%, 98%);
$gray: hsl(240, 10%, 57%);

// typography
body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: medium;
}

.page-wrapper {
  width:100%;
}