/*----------------------------
 header section
----------------------------*/
header {
  display: flex;
  justify-content: center;
  padding-top: 48px;
}

/*----------------------------
hero section
----------------------------*/

.hero {
  // background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin-top: 54px;

  & img {
    width: 110.4%;
  }

  &__text {
    display: flex;
    flex-direction: column;

    margin-top: 48px;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
  }

  &__heading {
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    text-align: center;
    color: $black;
    max-width: 290px;
  }

  &__paragraph {
    line-height: 26px;
    text-align: center;
    margin-top: 24px;
    color: $gray;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
  }

  &__button {
    color: $white;
    font-weight: 900;
    line-height: 26px;
    border-radius: 29px;
    border: none;
    cursor: pointer;
    text-align: center;
    // max-width: 193px;
  }

  &__button--download {
    background-color: $teal;
    padding: 16px 40px;
    margin-bottom: 17px;

    span {
      color: hsla(192, 90%, 77%, 1);
    }

    &:hover {
      background-color: hsla(192, 54%, 64%, 1);
    }
  }

  &__button--what-is-it {
    background-color: (267, 34%, 53%, 1);
    background-color: $dark-purple;
    padding: 16px 29px;

    &:hover {
      background-color: hsla(267, 54%, 71%, 1);
    }
  }
}

/*----------------------------
transiton section
----------------------------*/
.transition {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;

  &__line {
    width: 1px;
    height: 84px;
    background-color: hsla(240, 10%, 57%, 0.25);
    // opacity: 0.25;
  }

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid hsla(240, 10%, 57%, 0.25);
    width: 56px;
    height: 3.5rem;
    border-radius: 29px;
    background-color: white;
  }

  

  &__number {
    
    font-weight: 900;
    line-height: 26px;
    color: $gray;
  }
}