// layout

@media only screen and (min-width: 1600px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
}

/*----------------------------
header section
----------------------------*/
header {
  display: flex;
  justify-content: center;
  margin-top: 3rem;

  @media only screen and (min-width: 768px) {
    margin-top: 5rem;
  }
}

/*----------------------------
hero section
----------------------------*/

main {
  position: relative;
}

.hero {
  // background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin-top: 3.375rem;

  @media only screen and (min-width: 768px) {
    margin-top: 4rem;
  }

  &__desktop-images {
    display: none;
  }

  & img {
    max-width: 110.4%;
  }

  @media only screen and (min-width: 1250px) {
    & {
      margin-top: 3.8125rem;
    }

    &__desktop-images {
      display: flex;
      position: absolute;
    }

    &__desktop-image--left {
      position: absolute;
      top: 10.5625rem;
      left: -2rem;
    }

    &__desktop-image--right {
      position: absolute;
      top: 10.5625rem;
      right: -2rem;
    }

    &__mobile {
      display: none;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    margin: 3rem 1.5rem 0 1.5rem;
    align-items: center;

    @media only screen and (min-width: 768px) {
      margin-top: 4.5rem;
    }
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 2.75rem;
    text-align: center;
    color: $black;
    max-width: 18.125rem;

    @media only screen and (min-width: 768px) {
      font-size: 3rem;
      line-height: 3rem;
      max-width: 21.1875rem;
    }

    @media only screen and (min-width: 1250px) {
      font-size: 4rem;
      line-height: 4rem;
      max-width: 27.8125rem;
    }
  }

  &__paragraph {
    line-height: 1.625rem;
    text-align: center;
    margin-top: 1.5rem;
    color: $gray;

    @media only screen and (min-width: 768px) {
      max-width: 28.5625rem;
      margin-top: 1.5rem;
    }

    @media only screen and (min-width: 1250px) {
      max-width: 33.75rem;
      margin-top: 2.125rem;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 4rem;

    @media only screen and (min-width: 768px) {
      flex-direction: row;
      margin: 2rem 0 5rem;
    }

    @media only screen and (min-width: 1250px) {
      margin: 2rem 0 6.875rem;
    }
  }

  &__button {
    font-family: "Red Hat Display", sans-serif;
    color: $white;
    font-weight: 900;
    line-height: 1.625rem;
    border-radius: 1.8125rem;
    border: none;
    cursor: pointer;
    text-align: center;
  }

  &__button--download {
    background-color: $teal;
    padding: 1.0625rem 2.5rem 0.9375rem;
    margin-bottom: 1.0625rem;

    span {
      color: $cyan;
      padding-left: 0.25rem;
    }

    &:hover {
      background-color: hsla(192, 54%, 64%, 1);
    }
    @media only screen and (min-width: 768px) {
      margin: 0 1rem 0 0;
    }
  }

  &__button--what-is-it {
    background-color: $dark-purple;
    padding: 1rem 1.8125rem;

    &:hover {
      background-color: hsla(267, 54%, 71%, 1);
    }
  }
}

/*----------------------------
transiton section
----------------------------*/
.transition {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__line {
    width: 0.0625rem;
    height: 5.25rem;
    background-color: hsla(240, 10%, 57%, 0.25);
    // opacity: 0.25;
  }

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.0625rem solid hsla(240, 10%, 57%, 0.25);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 1.8125rem;
    background-color: white;
  }

  &__number {
    font-weight: 900;
    line-height: 1.625rem;
    color: $gray;
  }
}

/*----------------------------
features section
----------------------------*/

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 1.5rem;

  @media only screen and (min-width: 768px) {
    margin: 4.1875rem 2.5rem 5rem 2.5rem;
  }

  @media only screen and (min-width: 1250px) {
    margin: 4rem 10.3125rem 4.5rem;
  }

  .gallery {
    display: grid;
    // grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(2, minmax(0, 14.0625rem));
    // grid-template-columns: minmax(0, 14.0625rem), minmax(0, 14.0625rem);

    gap: 1.5rem;

    @media only screen and (min-width: 768px) {
      // grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: repeat(4, minmax(0, 13.75rem));
      // grid-template-columns: minmax(0, 13.75rem), minmax(0, 13.75rem),minmax(0, 13.75rem), minmax(0, 13.75rem);
      // compiler issue with minmax() function in css file
      gap: 0.6875rem;
    }

    @media only screen and (min-width: 1250px) {
      gap: 1.875rem;
    }

    &__image {
      max-width: 100%;
      max-height: 100%;
      border-radius: 1rem;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 4rem;

    @media only screen and (min-width: 768px) {
      margin-top: 3rem;
    }

    @media only screen and (min-width: 1250px) {
      margin-top: 5rem;
    }

    &__overline {
      color: $teal;
      font-weight: 900;
      line-height: 1.625rem;
      letter-spacing: 0.25rem;
      text-transform: uppercase;
    }

    &__heading {
      font-size: 2rem;
      line-height: 2.25rem;
      color: $black;
      font-weight: 900;
      margin-top: 1.5rem;

      @media only screen and (min-width: 768px) {
        font-size: 2.5rem;
        line-height: 2.75rem;
        max-width: 27.8125rem;
        margin-top: 1rem;
      }
    }

    &__paragraph {
      color: $gray;
      line-height: 1.625rem;
      margin-top: 2rem;

      @media only screen and (min-width: 768px) {
        max-width: 35.8125rem;
      }

      @media only screen and (min-width: 1250px) {
        font-size: 1.125rem;
        max-width: 33.75rem;
      }
    }
  }
}

/*----------------------------
footer section
----------------------------*/

.footer {
  margin-top: -2rem;
  background-image: linear-gradient($teal-transparent, $teal-transparent),
    url("../assets/mobile/image-footer.jpg");
  background-size: cover;

  @media only screen and (min-width: 768px) {
    background-image: linear-gradient($teal-transparent, $teal-transparent),
      url("../assets/tablet/image-footer.jpg");
  }

  @media only screen and (min-width: 1250px) {
    background-image: linear-gradient($teal-transparent, $teal-transparent),
      url("../assets/desktop/image-footer.jpg");
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    text-align: center;
    padding: 5.75rem 1.5rem 4.5rem;

    @media only screen and (min-width: 768px) {
      padding: 5.75rem 6.125rem 4.125rem 6.0625rem;
    }

    @media only screen and (min-width: 1250px) {
      flex-direction: row;
      justify-content: space-between;
      text-align: start;
      padding: 7.25rem 2rem 6.5rem;
      margin: 0 auto;
      max-width: 69.375rem;
    }
  }

  &__heading {
    font-size: 2rem;
    font-weight: 900;
    line-height: 2.25rem;

    @media only screen and (min-width: 768px) {
      font-size: 2.5rem;
      line-height: 2.75rem;
      max-width: 28.625rem;
    }
  }

  &__paragraph {
    font-size: 1.125rem;
    line-height: 1.625rem;
    margin-top: 2.5rem;

    @media only screen and (min-width: 1250px) {
      margin: 0;
      max-width: 21.875rem;
    }
  }

  &__button {
    margin-top: 2rem;
    padding: 1rem 2.5rem;

    span {
      color: $light-purple;
      margin-left: 0.25rem;
    }

    @media only screen and (min-width: 1250px) {
      margin: 0;
    }
  }
}
